:root {
    --primary-font-fam: 'Elsie';
    --secondary-font-fam: 'Inter';
    --background-color: #f4eee1;
    --primary-font-clr: #000;
}

.secondary-font {
    font-family: var(--secondary-font-fam);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: lighter;
    font-family: var(--primary-font-fam);
    padding-bottom: 1rem;
  }

  div {
    padding-bottom: 1rem;
  }

  em {
    font-family: var(--primary-font-fam);
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

a:visited { 
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    padding: 0;
}

html {
    font-size: 18px;
    font-family: var(--primary-font-fam), serif;
    margin: 0 auto;
    background: var(--background-color);
    color: var(--primary-font-clr)
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 4rem;
}

p {
    padding-bottom: 1em;
}

button {
    width: fit-content;
    /* font-family: 'Elsie'; */
    text-transform: uppercase;
    background: black;
    color: white;
    font-weight: bolder;
    border: none;
    padding: 0.2rem 0.6rem;
}
.nav-logo div {
    /* font-size: 1.5rem; */
    /* border: 1px black solid; */
    padding: 1rem;
}

nav {
    display: flex;
    padding: 1rem 10rem;
    height: 10vh;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    color:black;
}

.nav-list {
    padding: .5rem 3rem;
}

.nav-list.scrolled {
    background-color: #f0efecef;
    border-radius: 100px; 
    padding: 1rem 3rem;
}

.nav-links {
    display: flex;
    align-items: center;

}

.nav-links ul {
    display:flex;
    flex-direction: row;
}

.nav-links li {
    padding: 0 1rem;
    font-size: 1.2rem;
}

.profile-pic {
    border-radius: 300px;
    max-width: 150px;
}
main {
    font-family: var(--secondary-font-fam), sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin:0 auto;
    gap: 2rem;
    padding: 0 10vh;
}

.about {
    padding: 0 10em;
    height: 90vh;
}

.about .flex-item {
    text-align: center;
}

.about p {
    padding-bottom: 4em;
}



.title {
    font-family: var(--primary-font-fam), serif;
    margin-top: 5rem;
    /* margin-bottom:3rem; */
    text-transform: uppercase;
    text-align: center;
}

.sub-title {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 3.5rem; 
    height: 60vh;
}

.flex-row-reverse {
    display: flex;
    gap: 3.5rem;
    flex-direction: row-reverse;
    height: 60vh;
}

.flex-item{
    flex: 1;
}

.project-image {
    border-radius: 2%;
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.header-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    gap: 2rem;
    padding: 0 10vh;
    flex-direction: row-reverse;
}

.header-title h2 {
    max-width: min-content;
}

.stacks-list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: .5rem;
    text-transform: uppercase;
}

.stacks-list li {
    border: 1px solid black;
    padding: .2rem .6rem;
    border-radius: 10px;
}

.sub-title {
    font-size: 2rem;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills {
    text-align: center;
}

.skills-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    margin: 0 10em;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

.skills-list li {
    border: 1px solid black;
    padding: .2rem .6rem;
    border-radius: 10px;
}

.flex-item h3 {
    padding-bottom: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.chevron {
    width: 2%;
    margin: 0 auto;
}

.contact {
    height: 90vh;
}

.contact-icon{
    height: 50px;
    width: auto;
}

.socials {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
}



.shrink img {
    transition: 1s ease;
    }
    
.shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

  /*chevron bounce  */
.bounce {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media screen and (max-width:1000px) {
    .about {
        padding: 0;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        font-size: .7rem;
    }

    li {
        font-size: .7rem;
    }

    .portfolio .flex-row {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .portfolio .flex-row-reverse {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .skills {
       display: flex;
       justify-content: center;
       align-items: center;
       height: auto;
    }
}